body {
    font-family: Georgia, Times, serif;
    font-size: 12px;
    background-color: #ffffff;
    background-image: url('../images/bg.jpg');
}
table.splash {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.splash img {
    border: none;
}

img {
    border: none;
}
a {
    color: #e81c29;
    text-decoration: none;
}

body {
    margin: 20px auto;
    text-align: center;
    width: 560px
}
h1 {
    font-size: 36px;
    font-weight: normal;
}
h2 {
    font-size: 14px;
    font-weight: normal;
}
h2 a {
    font-size: 20px;
}
div.body {
    position: relative;
    padding: 0 5px;
    background: #fefefe;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
div.header, div.address, div.footer {
    margin: auto;
    width: 250px;
    padding: 10px;
    clear: both;
}
div.header {
    border-bottom: solid #e81c29 1px;
}
div.header h1, div.header h1 a {
    color: black;
    line-height: 30px;
    margin: 0 auto 6px auto;
}
div.address {
    border-top: solid #e81c29 1px;
}
div.footer {
    border-top: solid #e81c29 1px;
    font-size: 10px;
}
div.content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.collections ul li {
    margin: 1em;
    padding: 0;
}
.thumbs {
    display: block;
    margin: auto;
    width: 550px;
}
.thumb {
    display: block;
    margin: 0;
    padding: 0;
    width: 110px;
    height: 110px;
    float: left;
}
.photo img {
    margin: 0 0 10px 0;
}
.photo div.caption {
    margin: 5px 20px 20px 20px;
}
.collection div.description {
    margin: 5px 20px 20px 20px;
}

.admin div.body {
    border: solid #0c0 2px;
}
.admin form {
    position: relative;
    margin: 10px 20px;
    clear: both;
}
.admin form div.field {
    background: #cfc;
}
.admin form label {
    width: 75px;
    padding: 2px;
    float: left;
    text-align: right;
}
.admin form div.field input, .admin form div.field textarea {
    width: 350px;
    margin-right: 60px;
}
.admin form div.field textarea {
    height: 175px;
}
.admin form .submit {
    position: absolute;
    bottom: 0;
    right: 0;
}
.admin .field-with-error input {
    background: #fee;
}
.admin .error-message {
    color: red;
}
.admin form.remove {
    position: absolute;
    top: 0;
    right: 0;
}